* {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: inherit;
  user-select: inherit;
}

html, body, #root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: default;
  font-size: 12px;
}

input, textarea {
  cursor: text;
}
